.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 3rem;
  z-index: 1;
  margin-bottom: 2rem;
}

.container_count {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -2rem;
}

.waves {
  display: none;
}

.frame {
  width: 25rem;
  height: 25rem;
}

.time_container {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin-top: 3rem;
  margin-left: 0.5rem;
}

.time_item {
  border-right: solid #AEDCEB 0.08rem;
  padding-right: 0.5rem;
}

.time_item:last-child {
  border-right: none;
  width: 2rem;
}

.time_number {
  color: #002E5A;
  font-size: 2.2rem;
}

.time_description {
  color: #818B94;
}


.loader {
  margin-top: 6rem;
  margin-left: 4rem;
  width: 15rem;
  aspect-ratio: 1;
  border: 15px solid #ddd;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
}

.loader::before {
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: 50%;
  border: 15px solid #002E5A;
  animation: l18 2s infinite linear;
}

@keyframes l18 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}


@media only screen and (min-width: 768px) {
  .waves {
    display: block;
    position: absolute;
    height: 18rem;
    top: 8rem;
    overflow: hidden;
    max-width: 100%;
  }

  .container_count {
    top: -1rem;
  }

  .frame {
    width: 40rem;
    height: 40rem;
  }

  .time_number {
    font-size: 2.2rem;
    font-weight: 300;
  }

  .time_item {
    padding-right: 1.8rem;
  }

  .time_container {
    margin-top: 7rem;
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .waves {
    display: block;
    position: absolute;
    height: 18rem;
    top: -5rem;
    width: 130rem;
  }

  .container_count {
    top: -13rem;
  }

  .frame {
    width: 40rem;
    height: 40rem;
  }

  .time_container {
    margin: 6rem 1.5rem 0;
  }

  .time_number {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .time_item {
    border-right: solid #AEDCEB 0.1rem;
    padding: 0 0.5rem;
    width: 5rem;
  }

  .time_item:nth-child(1){
    padding-right: 5rem;
  }

  .loader {
    margin-top: 10rem;
    margin-left: 50%;
    width: 25rem;
  }

  .loader::before {
    inset: -15px;
    border-radius: 50%;
    border: 15px solid #002E5A;
    animation: l18 3s infinite linear;
  }

}